# Ignorar archivos de respaldo creados por algunos editores
*~

# Ignorar archivos temporales
*.tmp

# Ignorar archivos y directorios específicos
/node_modules/
/dist/
/build/

# Ignorar archivos de credenciales o claves privadas
.env
*.env.local
*.env.production
*.env.development

# Ignorar archivos de registro y archivos generados
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pid
*.seed
*.pid.lock

# Ignorar archivos de caché
.cache/
.cached-data/

# Ignorar archivos de dependencias o paquetes específicos
/package-lock.json
/yarn.lock

# Ignorar archivos de configuración local
/.env.local
